.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:#000;

    position:sticky;
    top:0;
    z-index:100;

}

.logo h2{

    color:white;
    font-size:2rem;

}

.logo span{

    color:#e10600;

}

.navLinks{

    display:flex;
    gap:35px;

}

.navLinks a{

    color:white;
    text-decoration:none;
    transition:.3s;

}

.navLinks a:hover{

    color:#e10600;

}

@media(max-width:768px){

    .navbar{

        flex-direction:column;
        gap:15px;

    }

}